* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
footer {
    width: 100%;
    position: sticky;
    bottom:0;
    top: 0;
    font-style: italic;
    font-weight: bold;
}
nav {
    width: 100%;
    position: sticky;
    display: flex;
    bottom:0;
    top: 0;
    justify-content: space-between;
}
.content {
    display: flex;
}
.left {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    justify-content: space-around;
}
.right {
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
    justify-content: space-around;
}

.primary_color {
    background-color: yellowgreen;
}
.background_color {
    background-color: beige;
}
.primary_text {
    color: black;
}
.hover_text {
    color: white;
}
/*List Styles*/
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
li {
    float: left;
}
/* Link Styles */
a:link, a:visited {
    display: block;
    width: 120px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
a:hover {
    background-color: darkolivegreen;
    color: white;
}

.page_name {
    display: block;
    width: 120px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    background-color: greenyellow
}
/* Row and Column Div class styles*/
.row {
    display: flex;
}

.column{
    flex: 75%;
    padding: 10px;
}

.column:first-child{
    flex: 25%;
    min-width: 25%;
}
